:root {
	--white-color: #ffffff;
	--black-color: #000000;
	--text-color: rgba(0, 0, 0, 0.8);
	--text-color-gray: rgba(0, 0, 0, 0.54);
	--primary-color: #d0011b;
	--second-color: #ee4d2d;
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: sans-serif;
	font-weight: normal;
}
* {
	margin: 0;
	padding: 0;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
input,
textarea,
select,
button {
	outline: none;
	font-size: 1.6rem;
	font-family: "Poppins", sans-serif;
	font-weight: normal;
}
input {
	line-height: normal;
}
label,
button {
	cursor: pointer;
}
a {
	text-decoration: none;
}
img {
	display: block;
	max-width: 100%;
}

/* COMMON */
.strong-300 {
	font-size: 300px !important;
}
.strong-400 {
	font-weight: 400 !important;
}
.strong-500 {
	font-weight: 500 !important;
}
.text-label {
	color: #555;
	font-size: 1.4rem !important;
}
/* Padding */
.pl-5 {
	padding-left: 0.5rem !important;
}
.pl-10 {
	padding-left: 1rem !important;
}
.pl-15 {
	padding-left: 1.5rem !important;
}
.pl-20 {
	padding-left: 2rem !important;
}
.pr-5 {
	padding-right: 0.5rem !important;
}
.pr-10 {
	padding-right: 1rem !important;
}
.pr-15 {
	padding-right: 1.5rem !important;
}
.pr-20 {
	padding-right: 2rem !important;
}
.pt-5 {
	padding-top: 0.5rem !important;
}
.pt-10 {
	padding-top: 1rem !important;
}
.pt-15 {
	padding-top: 1.5rem !important;
}
.pt-20 {
	padding-top: 2rem !important;
}
.pb-5 {
	padding-bottom: 0.5rem !important;
}
.pb-10 {
	padding-bottom: 1rem !important;
}
.pb-15 {
	padding-bottom: 1.5rem !important;
}
.pb-20 {
	padding-bottom: 2rem !important;
}
.p-lr-5 {
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
}
.p-lr-10 {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}
.p-lr-15 {
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
}
.p-lr-20 {
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}
.p-tb-5 {
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
}
.p-tb-10 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}
.p-tb-15 {
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}
.p-tb-20 {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
}
/* Margin */
.ml-5 {
	margin-left: 0.5rem !important;
}
.ml-10 {
	margin-left: 1rem !important;
}
.ml-15 {
	margin-left: 1.5rem !important;
}
.ml-20 {
	margin-left: 2rem !important;
}
.mr-5 {
	margin-right: 0.5rem !important;
}
.mr-10 {
	margin-right: 1rem !important;
}
.mr-15 {
	margin-right: 1.5rem !important;
}
.mr-20 {
	margin-right: 2rem !important;
}
.mt-5 {
	margin-top: 0.5rem !important;
}
.mt-10 {
	margin-top: 1rem !important;
}
.mt-15 {
	margin-top: 1.5rem !important;
}
.mt-20 {
	margin-top: 2rem !important;
}
.mb-5 {
	margin-bottom: 0.5rem !important;
}
.mb-10 {
	margin-bottom: 1rem !important;
}
.mb-15 {
	margin-bottom: 1.5rem !important;
}
.mb-20 {
	margin-bottom: 2rem !important;
}
.m-lr-5 {
	margin-left: 0.5rem !important;
	margin-right: 0.5rem !important;
}
.m-lr-10 {
	margin-left: 1rem !important;
	margin-right: 1rem !important;
}
.m-lr-15 {
	margin-left: 1.5rem !important;
	margin-right: 1.5rem !important;
}
.m-lr-20 {
	margin-left: 2rem !important;
	margin-right: 2rem !important;
}
.m-tb-5 {
	margin-top: 0.5rem !important;
	margin-bottom: 0.5rem !important;
}
.m-tb-10 {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}
.m-tb-15 {
	margin-top: 1.5rem !important;
	margin-bottom: 1.5rem !important;
}
.m-tb-20 {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}
.separate::after {
	content: "";
	display: block;
	position: absolute;
	right: -9px;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 16px;
	background-color: #fb9086;
}
/* Animation */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes growth {
	from {
		transform: scale(0.5);
	}
	to {
		transform: scale(1);
	}
}
/* MODAL */
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	animation: fadeIn linear 0.1s;
}
.modal__overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}
.modal__container {
	margin: auto;
	z-index: 1;
	animation: growth linear 0.1s;
}
/* Button */
.btn {
	min-width: 2.3rem;
	height: 3.4rem;
	border: none;
	border-radius: 0.2rem;
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 1.5rem;
	line-height: 1.6rem;
	padding: 0;
	outline: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.btn.btn--primary {
	background-color: var(--primary-color) !important;
	color: var(--white-color);
}
.btn.btn--primary:hover {
	background-color: rgba(208, 1, 29, 0.8) !important;
}
.btn.btn--disable {
	cursor: default;
	background-color: #c3c3c3;
	color: #949494;
}
.btn-second {
	background-color: var(--second-color) !important;
	color: var(--white-color) !important;
}
.btn-unactive {
	color: rgba(0, 0, 0, 0.8);
	cursor: default;
}

/* BEGIN SELECT OPTION */
.sort__select {
	cursor: pointer;
	position: relative;
}
.sort__label {
	padding: 0 1.6rem;
	height: 100%;
	color: rgba(0, 0, 0, 0.87);
	font-size: 1.4rem;
	display: flex;
	align-items: center;
}
.sort__icon-caret {
	width: 0.8rem;
	height: 0.8rem;
	margin-right: 1.6rem;
}
.sort__select:hover .sort__option {
	display: block;
}
.sort__option {
	width: 100%;
	position: absolute;
	right: 0;
	top: calc(100% + 1.6rem);
	list-style-type: none;
	background-color: #fff;
	border-radius: 0.2rem;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	display: none;
	animation: fadeIn ease 0.3s;
	z-index: 9;
}
.sort__option::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 2rem;
	top: -2rem;
}
.sort__option-item {
	padding: 1.6rem;
	font-size: 1.4rem;
	min-width: 16rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 0.25s ease;
	z-index: 1;
}
.sort__option-item i {
	font-size: 1.2rem;
	font-weight: 600;
	color: #ee4d2d;
	display: none;
}
.sort__option-item--active i {
	display: inline-block;
}
.sort__option-item:hover {
	background-color: rgba(208, 1, 29, 0.05);
}
.sort__option-item:last-child:hover {
	border-radius: 0 0 0.2rem 0.2rem;
}
/* END SELECT OPTION */

/* BEGIN PAGINATION */
.pagination {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pagination-item {
	margin: 0 1.5rem;
	min-width: 4rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pagination-item--active {
	background-color: #c30018;
	border-radius: 0.2rem;
}
.pagination-item--active:hover {
	background-color: #e00622;
}
.pagination-item--active .pagination-item__link {
	color: #fff;
}
.pagination-item__link {
	font-size: 2rem;
	line-height: 2rem;
	color: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
/* END PAGINATION */
